*{
	padding:0;
	margin:0;
	    font-family: 'Cardo', serif;
	
}
img{
	height: 180px;
	width:100%;

}
.backimg{
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	
}
.login{
	margin-top: 100px;
	text-align: center;
	color: red;
	width:400px;
    background-color: hsl(0, 0%, 94%);
    padding:30px 0;
    border-radius: 20px;
    margin-left: 40px;
    }
input{
width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  
  border-radius: 20px;

}
.button input{
	color:blue;
    cursor: pointer;
  border-radius: 4px;
}
input[type=email],input[type=password]{
font-size: 1.5em;

}
input[type=email]:hover,input[type=password]:hover{
	background-color: lightblue;
	
}
input[type=submit] {
	font-size: 1.7em;
  width: 55%;
  background-color: #3b5998;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
a{
	color:#3b5998;
	text-align: left;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight:600;
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	
}
input[type=submit]:hover{
	color:black;
}
	a:hover{
		color: red;
	}
footer{
    margin-top: 50px;
	text-align:center;
	color:black;
	font-size: 2em;
	float: right;
	margin-right: 40px;
}
@media screen and (max-width: 600px) {
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
 